body {
  /* background-color: rgb(193, 186, 186); */

  background-color: white;

  box-sizing: border-box;
}

main {
  /* this code will keep the footer at the bottom */
  /* 100vh - px for nav bar and px for footer
    can also do 100vh - 120px - 150px */
  min-height: calc(100vh - 225px);

  
  /* display: flex;
  
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

main h2 {
  color: red;
  font-size: 2.5rem;
  text-align: center;

  letter-spacing: 2px;
}

main #inputPlace {
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

main .add-btn,
.clear-btn {
  width: 200px;
  height: 40px;
  color: white;

  letter-spacing: 2px;
}

#my-row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  height: 300px;

  flex-direction: column;
}

#my-row2 {
  display: flex;
  align-items: center;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
}

ol {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  border: 2px solid red;

  width: 80%;

  padding-left: 50px;
}

ol li {
  border: 1px solid orange;
  margin-bottom: 5px;

  

  margin-left: 40px;

  padding-left: 20px;

  text-align: left;

  font-size: 2rem;

  text-transform: capitalize;
}

ol li h3{
  display: inline-block;
  min-width: 220px
}

ol li i {
  margin-left: 20px;
  color: red;
}

footer {
  /* position: absolute;
    bottom: 0;
    width: 100%; */
}

@media screen and (max-width: 992px) {
  main {
    padding-bottom: 20px;
  }

  main #inputPlace {
    width: 90%;
  }

  .container{

    width: 100%;

   

  }

  ol {
    width: 100%;
    padding-left: 0;
    


  

    border: 2px solid blue;



   
  }

  ol li {
   width: 90%;
  }
}
